<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>

    <!-- Common header code goes here -->
    <%- include('./shared/header.ejs') %>

    <p>sddass</p>

    <!-- Common footer code goes here -->
    <%- include('./shared/footer.ejs') %>
  </body>
</html>
